<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja</title>
    <link rel="stylesheet" href="style.css">
    <style>
        li {
            color: blue;
        }
    </style>
</head>
<body>
    <p>cabeçalho</p>
    {%include "barra_navegacao.html"%}
    {%block secao%}
    <p>seção</p>
    {%endblock secao%}
    <p>rodapé</p>
</body>
</html>