<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganhou ou Perdeu?</title>
</head>
<body>
    {% if resultado == "ganhou" %}
        <p>Parabéns!!!! Você ganhou!!!!</p>
    {% elif resultado == "perdeu" %}
        <p>Que pena... Você perdeu .-.</p>
    {% else %}
        <p>Não sei se você ganhou ou perdeu...</p>
    {% endif %}
</body>
</html>