<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas</title>
</head>
<body>
    <h2>Essas são as rotas desse programa</h2>
    <ol>
        <li>{{url_for('caminho')}}</li>
        <li>{{url_for('caminho2')}}</li>
        <li>{{url_for('ganhadores', ganhadores=[])}}</li>
        <li>{{url_for('ganhou_perdeu', resultado=[])}}</li>
        <li>{{url_for('hello_name', name='')}}</li>
        <li>{{url_for('index')}}</li>
        <li>{{url_for('render')}}</li>
        <li>{{url_for('render_name', name='')}}</li>
        <li>{{url_for('static', filename='app.html')}}</li>
        <li>{{url_for('url')}}</li>
        <li>{{url_for('rotas')}}</li>
    </ol>
</body>
</html>