/*comentários*/
#link1{
    color: red;
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 10px;
    display:inline-block;
    color: gray;
}